html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

.clearfix::after{
    display: table;
    content:"";
    clear:both;
}
.container{
    width: 1110px;
    margin: 0 auto;
}

body{
    font-family: "Open Sans","Roboto","Ariel", sans-serif;
    color: #000000;
    font-size: 14px;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}
/* SITE NAVIGATION */
.page-nav{
    padding: 36px 0;
}

.site-logo{

   display: inline-block;
   vertical-align: middle;
}

.site-navigation{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
   
}

.site-navigation li{
    float: left;
    margin-right: 33px;
    font-weight: 700;
}
.site-navigation li:last-child{
    margin-right: 0;
}
.nav-link{
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 11px;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    vertical-align: middle;
}

.nav-link:hover,
.nav-link:focus{
    color: #1abc9c;
}

/* FEATURED */
/* .featured{
    padding: 0 30px;
} */

.section-name{
    font-family: "Roboto";
    font-size: 48px;
    line-height: 32px;
    font-weight: 900;
    color: #515151;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    width: 1110px;
    padding: 100px 0 0 0;
    margin: 0;
}

.section-name:after{
    content: "";
    display: block;
    width: 164px;
    height: 7px;
    background-color: #4ec6ab;
    margin: 32px auto 90px;
}

.products-list{
    list-style: none;
    padding: 0;
    margin: 0;
   
}

.product-item{
    width: 255px;
    margin: 0;
    padding: 0 0 30px 0;
    /* display: inline-block; */
    margin-right: 30px;
    float: left;
}

.product-item:nth-child(4n){
    margin-right: 0px;

}

.product-item a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* font-size: 0; */
}

.about-item{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 900;
    color: #fff;
    float: left;
    width: 200px;
    background-color: #323232;
    text-transform: uppercase;
    padding: 4px 0 4px 13px;
    margin: 0;
}

.price{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    color: #fff;
    float:right;
    width: 55px;
    background-color: #8c8c8c;
    text-transform: uppercase;
    padding: 4px 12px;
    margin: 0;
}

.product-item:hover .about-item{
background-color: #1abc9c;
}

.product-item:hover  .price{
background-color: #7fd9c7;
}

/* SECTOIN 2 */
/* .news{
    padding: 0 30px;} */

.news h2{
    padding-top: 68px;
}

.news h2:after{
    content: "";
    display: block;
    width: 164px;
    height: 7px;
    background-color: #4ec6ab;
    margin: 32px auto 82px;
}

.news-list{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    /* font-size: 0; */
}

.news-item{
    width: 350px;
    /* display: inline-block; */
    margin-right: 30px;
    /* font-size: 0; */
    float: left;
}

.news-item:last-child{
    margin-right: 0;
}

.story-caption{
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    color: #555252;
    margin: 0;
    padding: 14px 0 0 0;
}

.story-caption::after{
    content: "";
    display: block;
    width: 136px;
    height: 3px;
    background-color: #4ec6ab;
    margin: 10px 0 26px 0;
}

.story-text{
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #555252;
    margin: 0;
}

.news-item button{
    /* display: inline-block; */
    width: 160px;
    height: 50px;
    background-color: #4ec6ab;
    font-family: "open sans", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 14px 0 45px 0;
    cursor: pointer;
}